
<a href="#" class="js-next" data-id="<%=@author.id%>">Next...</a>
<h1 class="authorName"><%= @author.name %></h1>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function (e) {
      e.preventDefault();
      var nextId = parseInt($(".js-next").attr("data-id"))+1;
      $.get("/authors/" + nextId +".json", function(data) {
        $(".authorName").text(data["name"]);
  
        $(".js-next").attr("data-id", data["id"]);
      });
    
    });
  });
</script>